@charset "ISO-8859-1";
@import url('https://fonts/googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'Poppins',sans-serif;
}
section{
	position:relative;
	width:100%;
	height:100vh;
	display:flex;
}
section .contentBx{
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	height:100%;
	background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/login.jpg);
	background-size:cover;
	background-position:center;
}
section .contentBx .formBx h2{
	color:white;
	font-weight:600;
	font-size:2em;
	text-transform:uppercase;
	margin-bottom:20px;
	display:inline-block;
	letter-spacing:1px;
}
section .contentBx .formBx .inputBx{
	margin-bottom:40px;
	width:100%;
}
section .contentBx .formBx .inputBx span{
	font-size:16px;
	margin:5px;
	display:inline-block;
	color:white;
	font-weight:300;
	font-size:16px;
	letter-spacing:1px;
}
section .contentBx .formBx .inputBx input{
	width:100%;
	padding : 10px 20px;
	outline :none;
	font-weight:400;
	border:1px solid #607d8b;
	font-size:16px;
	letter-spacing:1px;
	color:#607d8b;
	background:transparent;
	border-radius:30px;	
}
section .contentBx .formBx .inputBx input[type="submit"]{
	background:#013220;
	color:#fff;
	outline:none;
	border:none;
	font-weight:500;
	cursor:pointer;
}
section .contentBx .formBx .inputBx input[type="submit"]:hover{
	background:#011f14;
}
section .contentBx .formBx .inputBx p{
	color:white;
	letter-spacing:1px;
}
section .contentBx .formBx .inputBx p a{
	color:white;
	letter-spacing:1px;
}
@media(max-width:768px){
	section .contentBx{
		display:flex;
		justify-content:center;
		align-items:center;
		width:100%;
		height:100%;
		z-index:1;
	}
	section .contentBx .formBx{
		width:100%;
		padding:40px;
		margin:50px;
	}
}


