@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
#ct_h1{
	font-weight:600;
	font-size: 400%;
	color:#228B22;
	font-family: 'Poppins', sans-serif;
}

.p_t{
	color:black;
	margin-left:100px;
	margin-right:100px;
	font-family: 'Poppins', sans-serif;
}

.thath_h1{
	text-decoration:underline;
	text-underline-position:under;
	color:#3CB371;
	font-weight:500;
	font-size:25px;
}

.p_t p{
	font-weight:500;
	font-size:20px;
}

.p_t li{
	font-weight:500;
	font-size:20px;
}
